
@font-face {
	font-family: "Oxygen";
	src: url("../../fonts/Oxygen/Oxygen-Bold.ttf");
}

header{
	z-index: 9999;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-family: "Oxygen";
}

.block-heading-1 .h2-reservation {
    font-size: 2.5rem;
}
@media all and (max-width: 425px){
		.block-heading-1 .h2-reservation {
				font-size: 1.9rem;
		}
}

.radio-custom .active .block-team-member-1, .checkbox-custom .active .block-team-member-1 {
    border: solid 1.5px #f5a623;
}

.aos-animate .disabled {
  opacity: 0.5;
  cursor: default;
}

.radio-custom .block-team-member-1:hover, .checkbox-custom .block-team-member-1:hover {
    cursor: pointer;
}

@media all and (max-width: 563px){
		.picker-section .container .row {
			height: 650px;
		}
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 0;
}

.height-pack {
	min-height: 280px;
}

.height-accessoire {
	min-height: 280px;
}

.nostock {
	opacity: 0.5;
	cursor: default;
}

.nostock:hover {
	top: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.table th {
	text-align: center;
}
