
@font-face {
	font-family: "Oxygen";
	src: url("../../fonts/Oxygen/Oxygen-Bold.ttf");
}

header{
	z-index: 9999;
}

@media (min-width: 1200px){
	.container {
	    max-width: 1200px!important;
	}
}

.site-navbar .site-logo {
	font-family: "Oxygen";
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-family: "Oxygen";
	text-transform: none;
}

.block-heading-1 .h2-reservation {
    font-size: 2.5rem;
}
@media all and (max-width: 425px){
	.block-heading-1 .h2-reservation {
			font-size: 1.6rem;
	}
}


@media all and (max-width: 425px){
	.block-heading-1 .h2-reservation {
			font-size: 1.6rem;
	}
}
/* .block-team-member-1-spa {
	display: flex;
} */

@media all and (max-width: 767px){
	.input-row-step1-responsive {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		padding: 15px 10px 8px 10px;
		text-align: left!important;
	}
	.input-row-step1-responsive img, .accessoire-recap img {
		width: 100px!important;
	}
	.btn-radio-custom .input-col-step1-responsive {
		flex-direction: column;
		padding: 22px;
		text-align: center!important;
	}
	.btn-radio-custom .col-4 {
		max-width: none;
		padding: 0;
	}
}

.radio-custom .active .block-team-member-1, .checkbox-custom .active .block-team-member-1 {
    border: solid 2px #f5a623;
}

@media all and (max-width: 563px){
	.block-team-member-1 {
	    padding: 20px;
	}
	.block-team-member-1 h3 {
	    font-size: 16px;
	}
}

.aos-animate .disabled {
  opacity: 0.5;
  cursor: default;
}

.radio-custom .block-team-member-1:hover, .checkbox-custom .block-team-member-1:hover {
    cursor: pointer;
}

@media all and (max-width: 563px){
		.picker-section .container .row {
			height: 650px;
		}
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 0;
}

.height-pack {
	min-height: 280px;
}

.height-accessoire {
	min-height: 280px;
}

.nostock {
	opacity: 0.5;
	cursor: default;
}

.nostock:hover {
	top: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.table th {
	text-align: center;
}


/* SPECIFIQUE HOME */
.img-bg-section {
	/* Image slider */
	background-image: url("../../medias/img/home/hero_3.webp");
}

.services-img-1 {
	background-image: url("../../medias/img/home/preview_baltik_6p_ext_1.webp");
	border-radius: 12px;
}
.services-img-2 {
	background-image: url("../../medias/img/home/preview_navy_4p_int_1.webp");
	border-radius: 12px;
}

.custom-media {
    padding: 30px;
    background: #ffffff;
    -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}
.custom-media .number {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    margin-top: -300px;
    margin-bottom: 20px;
}

/* SPECIFIQUE TUNNEL ACHAT GLOBAL */
.ariane-section {
	padding-top: 6rem;
	padding-bottom: 2rem;
}
@media all and (max-width: 767px){
	.ariane-section {
		padding-top: 3rem!important;
	}
}
@media all and (max-width: 374px){
	.separator {
		width: 25px;
	}
}
@media all and (max-width: 767px){
	.site-step-1 .array_packs .block-team-member-1 img {
		width: 100px;
	}
}
textarea:focus, input:focus{
    outline: none;
}

/* SPECIFIQUE STEP 2 */
.site-step-2 .radio-custom .block-team-member-1:hover {
	top: 0;
}
.site-step-2 input::placeholder {
	color: #CCCCCC;
}
